<footer>
  <a href="#">
    <div class="backArrow_container">
      <img class="backArrow--size" src="img/icon_back.png" alt="left arrow" />
      <h2 class="backArrow_text">Back</h2>
    </div>
  </a>
  <img class="footer_logo" src="img/physit_logo.png" alt="physit logo" />
</footer>
