{{!--
----------------------------------------------------------------------------------

README: The Following HBS partial Has Been Created by KEVIN VIZCONDE

Final Revision and Design: Kevin Vizconde
Roles:
  • Setting up skeleton and structure
  • Finalizing structure and design
  • Finalizing user experience/interactions

----------------------------------------------------------------------------------
--}}

<div class="navigation_container" id="preloader">
  <div class="navigation_container__contain">
    <a id="homeActive" class="navigation_container__link" href="home">
      <div class="navigation_container__icon">
        <img class="icon--nav" src="img/icon_3d.png" alt="3d icon" />
        <h2 class="icon_title">3D Model</h2>
      </div>
    </a>

    <a id="exerciseActive" class="navigation_container__link" href="exercise">
      <div class="navigation_container__icon">
        <img class="icon--nav" src="img/icon_dumbell.png" alt="3d icon" />
        <h2 class="icon_title">Exercises</h2>
      </div>
    </a>

    <a id="timelineActive" class="navigation_container__link" href="timeline">
      <div class="navigation_container__icon">
        <img class="icon--nav" src="img/icon_progress.png" alt="3d icon" />
        <h2 class="icon_title">Timeline</h2>
      </div>
    </a>
  </div>
</div>
