<div class="header-wrapper">
  <!-- patient info  -->
  <div class="patient_container">
    <h1 class="patient_container__name patient--color">John Hopkins</h1>
    <p class="patient_container__info"><span class="patient--color">42</span>&nbsp; years old</p>
    <p class="patient_container__info"><span class="patient--color">155</span>&nbsp; lbs</p>
    <p class="patient_container__info"><span class="patient--color">175</span>&nbsp; cm</p>
  </div>
  <!-- ./patient info -->
</div>
