<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phys-it | {{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    {{#if indexJSCSS }}
    <link href="/css/index.css" rel="stylesheet" />
    {{/if}}
    <script type="text/javascript" src="/js/index.js" defer></script>
  </head>

  <body>
    {{{ body }}}
  </body>
</html>
