<main class="home-container">
  {{>_patientHeader}}
  <!-- wrapper -->

  <!-- Ringo new basic functionality added -->

  <section class="exercise-container">
    {{#each exercises}}
    <div class="single-exercise">
      <img class="single-exercise-image" src="{{ this.thumbnail }}" />
      <h1 class="single-exercise-title">{{ this.title }}</h1>
      <div class="single-exercise-details">
        <h2 class="single-exercise-equipment">{{ this.equipment }}</h2>
        <br />
        <button class="btn btn-primary add-exercise-btn" type="button">ADD EXERCISE</button>
      </div>
    </div>
    {{/each}}
  </section>
  <section class="cart-container">
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">EXERCISE</span>
      <span class="cart-equipment cart-header cart-column">EQUIPMENT</span>
      <span class="cart-quantity cart-header cart-column">REPS</span>
      <span class="cart-quantity cart-header cart-column">SETS</span>
      <span class="cart-quantity cart-header cart-column"></span>
    </div>
    <div class="cart-items"></div>
    <button class="btn btn-primary btn-send" type="button">SEND TO PATIENT</button>
  </section>

  {{>_navigation}}
</main>
{{>_footer}}
