<main class="home-container">
  {{>_patientHeader}}
  {{>_navigation}}
  <div class="grid-center">
    <div class="grid-contain">
      <div class="grid content1">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content2">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content3">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content4">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content5">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content6">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content7">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content8">
        <h2 class="exercise">placeholder</h2>
      </div>
      <div class="grid content9">
        <h2 class="exercise">placeholder</h2>
      </div>
    </div>
  </div>
</main>
{{>_footer}}
