{{!
----------------------------------------------------------------------------------

------
README
------

File was originally created by KEVIN VIZCONDE at the start of project.
This file has been worked on and modified by the following people:

Original Exercise Design/Layout: Ringo Suen
Roles:
  • Basic exercise page structure, user interactions etc.
  • Code structure like naming conventions, syntax for hbs, css, js etc.
  • JavaScript functions


Revision 1: Kevin Vizconde
Roles:
  • Updated color scheme on cards, buttons etc.
  • Added card hover effects, glows etc.
  • Worked on single exercise card layout, modifying spacing etc.


Back-End: Benson Wang
Roles:
  • Grabbing data from the database and dynamically parsing data into inputs
  • Saving exercises to the database


Final Revision and Design: Ringo Suen
Roles:
  • Final code structure and design
  • Final naming conventions and layout design
  • Final JavaScript functions

----------------------------------------------------------------------------------
}}

<main class="home-container">
  {{>_patientHeader}}
  <!-- wrapper -->

  <!-- Ringo new basic functionality added -->

  <section class="exercise-container">
    {{#each exercises}}
    <div class="single-exercise">
      <img class="single-exercise-image" src="{{ this.thumbnail }}" />
      <h1 class="single-exercise-title">{{ this.title }}</h1>
      <div class="single-exercise-details">
        <h2 class="single-exercise-equipment">{{ this.equipment }}</h2>
        <br />
        <button class="btn add-exercise-btn" type="button">EXERCISE +</button>
      </div>
    </div>
    {{/each}}
  </section>
  <section class="cart-container">
    <div class="cart-row">
      <div id="cart-item-header">EXERCISES</div>
      {{!-- <span class="cart-equipment cart-header cart-column">EQUIPMENT</span> --}}
      <div id="cart-quantity-header">Reps</div>
      <div id="cart-quantity-header">Sets</div>
      <div id="cart-quantity-header"></div>
      {{!-- <span class="cart-quantity cart-header cart-column"></span> --}}
    </div>
    <div class="cart-items"></div>
    {{!-- <button class="btn btn-primary btn-send" type="button">SEND TO PATIENT</button> --}}
  </section>

  {{>_navigation}}
</main>
{{>_footer}}
