<main class="home-container">
  <!--
  ----------------------------------------------------------------------------------

  README: The Following HBS file Has Been Created by KEVIN VIZCONDE

  Final Revision and Design: Kevin Vizconde
  Roles:
    • Setting up Skeleton and Structure
    • Finalizing structure and design
    • Finalizing user experience/interactions

  ----------------------------------------------------------------------------------
  -->
  {{>_patientHeader}}
  <div class="human_container">
    <div class="iframe-container__overflow">
      <iframe
        id="bioDigital"
        class="iframe-container--size"
        frameBorder="0"
        tabindex="-1"
        allowFullScreen="true"
        src="https://human.biodigital.com/viewer/?be=3VHK&ui-info=false&ui-search=false&ui-reset=false&ui-fullscreen=false&ui-nav=false&ui-tools=false&ui-help=false&ui-chapter-list=false&ui-label-list=false&ui-anatomy-descriptions=false&ui-tutorial=false&disable-scroll=false&camera=8.104,130.686,-215.99,5.069,90.748,5.18,0,1,0.016&dk=438f0897e2ee8156d5a7198fb3067553f93e14e2"
      >
      </iframe>
    </div>
  </div>
  {{>_navigation}}
</main>
{{>_footer}}
