<main class="home-container">
  {{>_patientHeader}}
  <div class="human_container">
    <div id="anchorbox">
      <a onclick="shoulderClick()" id="leftShoulder"></a>
      <a onclick="shoulderClick()" id="rightShoulder"></a>
      <a onclick="elbowClick()" id="leftElbow"></a>
      <a onclick="elbowClick()" id="rightElbow"></a>
      <a onclick="kneeClick()" id="leftKnee"></a>
      <a onclick="kneeClick()" id="rightKnee"></a>
      <a onclick="hipClick()" id="leftHip"></a>
      <a onclick="hipClick()" id="rightHip"></a>
      <img class="human_container__img" src="img/body.png" alt="human body" />
    </div>
    {{!-- <img class="human_container__img" src="img/body.png" alt="human body" /> --}}
  </div>
  {{>_navigation}}
</main>
{{>_footer}}
