<main class="home-container">
  {{>_patientHeader}}


  <!-- Replace Everything Within This Comment with BioDigital Stuff -->
  <div class="sketchfab-embed-wrapper">
    <iframe
      id="iframe_3dmodel"
      src="https://sketchfab.com/models/e402d3d541eb4b199c57d5410f5d3c57/embed?autostart=true"
      frameborder="0"
      allow="autoplay; fullscreen;"
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
    ></iframe>
  </div>
  <!-- Replace Everything Within This Comment with BioDigital Stuff -->



</main>
{{>_footer}}
