<main class="home-container">
  {{>_patientHeader}}
  <div class="human_container">
    <img class="human_container__img" src="img/body.png" alt="human body" />
  </div>
  {{>_navigation}}
</main>
{{>_footer}}
