<main class="main-container">
  <!-- Top Phys-it Logo Section -->
  <section class="header_image_container">
    <img src="./images/physit_logo.png" class="physit_logo" alt="physit logo" />
  </section>

  <!-- Middle Banner Image-->
  <div class="top_banner">
    <div class="banner_container"></div>
  </div>

  <!--Log-in entry goes hereee-->
  <section class="login_container"></section>
</main>
