{{!
----------------------------------------------------------------------------------

README: The Following HBS file Has Been Created by KEVIN VIZCONDE

Front-End: Kevin Vizconde

Back-End: Daniel Chu
Roles:
• Grabbing data from the database and dynamically parsing data into inputs
• POST symptoms/diagnosis into database


Final Revision and Design: Kevin Vizconde
Roles:
• Setting up Skeleton and Structure
• Finalizing structure and design
• Finalizing user experience/interactions

----------------------------------------------------------------------------------
}}
<main class="home-container">
  {{>_patientHeader}}

  <div class="human_container">
    <div class="input_container" id="inputBox_knee">
      <form class="input_container__form" action="/saveData" method="POST">
        <label class="form__label symptoms" for="symptom">Symptoms</label>
        {{#if injury.exists}}
        <textarea class="form__symptoms" name="symptom">{{ injury.symptom }}</textarea>
        {{else}}
        <textarea
          required
          class="form__symptoms"
          name="symptom"
          placeholder="enter symptoms"
        ></textarea>
        {{/if}}
        <hr />
        <label class="form__label diagnosis" for="diagnosis">Diagnosis</label>
        {{#if injury.exists}}
        <textarea class="form__diagnosis" name="diagnosis">{{ injury.diagnosis }}</textarea>
        {{else}}
        <textarea
          required
          class="form__diagnosis"
          name="diagnosis"
          placeholder="enter diagnosis"
        ></textarea>
        {{/if}}
        <button class="form__bttn" type="submit" name="save_clear" value="save">
          Save
        </button>
        {{#if injury.exists}}
        <button class="form__bttn bttn--clear" type="submit" name="save_clear" value="clear">
          <span>X</span>
        </button>
        {{/if}}
      </form>
    </div>

    <div class="iframe-container__overflow">
      <iframe
        id="knee3d"
        tabindex="-1"
        class="iframe-container--size"
        frameBorder="0"
        src="https://human.biodigital.com/viewer/?be=3VNM&ui-info=false&ui-search=false&ui-reset=false&ui-fullscreen=false&ui-nav=false&ui-tools=false&ui-help=false&ui-chapter-list=false&ui-label-list=false&ui-anatomy-descriptions=false&ui-tutorial=false&disable-scroll=false&dk=438f0897e2ee8156d5a7198fb3067553f93e14e2"
      >
      </iframe>
    </div>
  </div>
  {{>_navigation}}
</main>
{{>_footer}}
