<main class="home-container">
  {{>_patientHeader}}

  <div class="human_container">
    <div class="input_container" id="inputBox_shoulder">
      {{#if injury.exists}}
        <form class="input_container__form" action="/saveData" method="POST">
          <label class="form__label symptoms" for="symptoms">Symptoms</label>
          <textarea class="form__symptoms" name="symptoms">{{injury.symptom}}</textarea>
          <hr />
          <label class="form__label diagnosis" for="symptoms">Diagnosis</label>
          <textarea class="form__diagnosis" name="diagnosis">{{injury.diagnosis}}</textarea>
          <input type="date" name="recoveryDate" value="{{injury.recoveryDate}}" required/>
          <button type="submit">SAVE</button>
        </form>
        <form action="/completeInjury" method="POST">
          <button type="submit">COMPLETE</button>
        </form>
        <form action="/deleteInjury" method="POST">
          <button type="submit">DELETE</button>
        </form>
      {{else}}
        <form class="input_container__form" action="/saveData" method="POST">
          <label class="form__label symptoms" for="symptoms">Symptoms</label>
          <textarea class="form__symptoms" name="symptoms" placeholder="enter symptoms"></textarea>
          <hr />
          <label class="form__label diagnosis" for="symptoms">Diagnosis</label>
          <textarea class="form__diagnosis" name="diagnosis" placeholder="enter diagnosis"></textarea>
          <input type="date" name="recoveryDate" required/>
          <button type="submit">SAVE</button>
        </form>
      {{/if}}
    </div>

    <div class="iframe-container__overflow">
      <iframe id="shoulder3d" tabindex="-1" class="iframe-container--size"
        frameBorder="0"
        src="https://human.biodigital.com/viewer/?be=3V87&ui-info=false&ui-search=false&ui-reset=false&ui-fullscreen=false&ui-nav=false&ui-tools=false&ui-help=false&ui-chapter-list=false&ui-label-list=false&ui-anatomy-descriptions=false&ui-tutorial=false&disable-scroll=false&camera=79.102,193.193,70.58,10.39,115.353,8.936,-0.402,0.845,-0.353&dk=438f0897e2ee8156d5a7198fb3067553f93e14e2">
      </iframe>
    </div>
  </div>
  {{>_navigation}}
</main>
{{>_footer}}
