<main class="home-container">
  {{>_patientHeader}}

  <div class="human_container">
    <div class="input_container">
      <form class="input_container__form" action="">
        <label class="form__label" for="symptoms">Symptoms</label>
        <textarea class="form__symptoms" name="symptoms" placeholder="enter symptoms"></textarea>
        <hr>
        <label class="form__label" for="symptoms">Diagnosis</label>
        <textarea class="form__diagnosis" name="diagnosis" placeholder="enter diagnosis"></textarea>
      </form>
    </div>

    <div class="iframe-container__overflow">
      <iframe tabindex="-1"
        class="iframe-container--size"
        frameBorder="0"
        src="https://human.biodigital.com/viewer/?be=3V87&ui-info=false&ui-search=true&ui-reset=true&ui-fullscreen=false&ui-nav=true&ui-tools=false&ui-help=false&ui-chapter-list=false&ui-label-list=false&ui-anatomy-descriptions=false&ui-tutorial=false&disable-scroll=false&camera=28.019,141.854,-82.425,17.324,113.553,2.901,-0.018,0.984,0.18&dk=438f0897e2ee8156d5a7198fb3067553f93e14e2"
      >
      </iframe>

      <script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>
    </div>
  </div>
  {{>_navigation}}
</main>
{{>_footer}}