{{!
----------------------------------------------------------------------------------

README: The Following HBS file Has Been Created by KEVIN VIZCONDE

Final Revision and Design: Kevin Vizconde

Note: This is a future feature and will not be implemented for the MVP

----------------------------------------------------------------------------------
}}
<main class="home-container">
  {{>_patientHeader}}
  <div class="timeline_container"></div>
  {{>_navigation}}
</main>
{{>_footer}}
