html {
  min-height: 100vh;
}

body {
  height: 100%;
}

#exerciseActive .icon_title {
  color: var(--primaryYellow);
  text-shadow: 0 0 1.5rem rgba(var(--yellowGlow), 1);
}

#exerciseActive .icon--nav {
  filter: invert(69%) sepia(93%) saturate(1025%) hue-rotate(0deg) brightness(105%) contrast(108%)
    drop-shadow(0 0 1.5rem rgba(var(--yellowGlow), .6));
}

.patient_container__exercise {
  font-size: 2rem;
  text-transform: uppercase;
}

.home-container {
  justify-content: center;
}

.navigation_container {
  flex: 1 0 10%;
}

/* Exercise Area */

#no-exercises {
  text-align: center;
  font-size: 30px;
}

/* START OF RINGO'S CSS */

.exercise-container {
  display: flex;
  height: 75%;
  width: 100%;
  flex: 1 0 60%;
  margin-top: 3%;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-around;
  flex-wrap: wrap;
  direction: rtl;
  padding: 2rem;
}

.exercise-container::-webkit-scrollbar {
  background-color: transparent;
  width: .75rem;
}

.exercise-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: transparent;
}

.exercise-container:hover {
  overflow-y: auto;
}

.exercise-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--midBlue);
}

.single-exercise {
  margin: 2rem 1rem;
  padding: 1.4rem;
  letter-spacing: .15rem;
  border: .25rem solid var(--orangeYellow);
  box-shadow: 0 0 1rem rgba(var(--yellowGlow), .75);
  border-radius: 1.2rem;
  background: rgba(var(--inputBox), .4);
  transition: .25s ease-in-out;
  width: 30rem;
  height: 35rem;
}

.single-exercise:hover {
  background: var(--headingDark);
  box-shadow: 0 0 3rem rgba(var(--yellowGlow), 1);
  backface-visibility: hidden;
  transition: .25s ease-in-out;
}

.single-exercise-title {
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 1.5rem 0 2.5rem;
  color: var(--textBlue);
  transition: .25s ease-in-out;
}

.single-exercise:hover .single-exercise-title {
  text-shadow: 0 0 1rem rgba(var(--blueGlow), 1);
  backface-visibility: hidden;
  transition: .25s ease-out;
}

.single-exercise-image {
  width: 100%;
  filter: sepia(1) saturate(1.5) invert(1) brightness(1.4);
  transition: .2s ease-in-out;
}

.single-exercise-image:hover {
  transform: scale(1.4) translateY(-8%);
  cursor: zoom-in;
  transition: .25s ease-out;
}

.single-exercise-details {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.single-exercise-equipment {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  flex-grow: 1;
}

.btn {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: rgba(var(--boxShadows), .25) .15rem .3rem .3rem;
  color: var(--primaryWhite);
}

.btn:hover {
  cursor: pointer;
}

.add-exercise-btn {
  height: 3rem;
  width: 10rem;
  background-color: var(--orangeYellow);
  box-shadow: 0 0 1.2rem rgba(var(--yellowGlow), .5);
  border-radius: .6rem;
  transition: .2s ease-out;
}

.add-exercise-btn:hover {
  background-color: var(--primaryYellow);
  box-shadow: 0 0 1.6rem rgba(var(--yellowGlow), .9);
  transition: .2s ease-out;
}

.cart-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 100%;
  margin-top: 3%;
  padding: 2rem;
  flex: 1 0 30%;
  overflow-x: hidden;
}

.cart-column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.cart-header {
  font-size: 1.5rem;
}

.cart-row {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  width: 100%;
}

.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.cart-quantity {
  padding: 1rem;
}

.cart-quantity-input {
  height: 4rem;
  width: 4rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--bgLight);
  color: var(--headingDark);
  text-align: center;
  font-size: 1.2em;
}

.btn-remove {
  text-transform: uppercase;
  font-size: 1rem;
  width: 6rem;
  height: 3rem;
  text-align: center;
  color: var(--primaryWhite);
  background-color: var(--primaryRed);
  text-shadow: rgba(var(--boxShadows), .25) .15rem .3rem .3rem;
  border-radius: .6rem;
}

.btn-send {
  display: none;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/* media query for ipad */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {

  .exercise-container {
    height: 80%;
    margin-top: 5rem;
  }

  .single-exercise {
    width: 20rem;
    height: 20rem;
  }
}
