html {
  min-height: 100vh;
}

body {
  height: 100%;
}

#homeActive .icon_title {
  color: var(--primaryYellow);
  text-shadow: 0 0 1.5rem rgba(var(--yellowGlow), 1);
}

#homeActive .icon--nav {
  filter: invert(69%) sepia(93%) saturate(1025%) hue-rotate(0deg) brightness(105%) contrast(108%)
    drop-shadow(0 0 1.5rem rgba(var(--yellowGlow), .6));
}

.human_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  flex: 1 0 75%;
}

.human_container__img {
  height: 100%;
}

.patient_container__bodypart {
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
}

/** All the clickable elements */

#anchorbox {
  margin-left: 30%;
  position: relative;
  display: inline-block;
  height: inherit;
}

#anchorbox a {
  position: absolute;
  width: 20%;
  height: 12%;
  border-radius: 50%;
  cursor: pointer;
}

#anchorbox a:hover {
  background-color: var(--primaryYellow);
}

/** Anchor element for the clickable left shoulder */

#leftShoulder {
  top: 13%;
  left: 25%;
}

/** Anchor element for the clickable right shoulder */

#rightShoulder {
  top: 13%;
  left: 60%;
}

/** Anchor element for the clickable left elbow */

#leftElbow {
  top: 27%;
  left: 20%;
}

/** Anchor element for the clickable left elbow */

#rightElbow {
  top: 27%;
  left: 65%;
}

/** Anchor element for the clickable left hip */

#leftHip {
  top: 39%;
  left: 31%;
}

/** Anchor element for the clickable right hip */

#rightHip {
  top: 39%;
  left: 53%;
}

/** Anchor element for the clickable left knee */

#leftKnee {
  top: 62%;
  left: 32%;
}

/** Anchor element for the clickable right knee */

#rightKnee {
  top: 62%;
  left: 52%;
}
