html {
  min-height: 100vh;
}

body {
  height: 100%;
}

#homeActive .icon_title {
  color: var(--primaryYellow);
  text-shadow: 0 0 1.5rem rgba(var(--yellowGlow), 1);
}

#homeActive .icon--nav {
  filter: invert(69%) sepia(93%) saturate(1025%) hue-rotate(0deg) brightness(105%) contrast(108%)
    drop-shadow(0 0 1.5rem rgba(var(--yellowGlow), .6));
}

.human_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  flex: 1 0 75%;
  position: relative;
}

.human_container__img {
  height: 100%;
}

.patient_container__bodypart {
  font-size: 2rem;
  text-transform: uppercase;
}

.iframe-container__overflow {
  height: 90%;
  width: 55%;
  position: relative;
  overflow: hidden;
  left: 10%;
  filter: drop-shadow(0 0 3rem rgba(var(--blueGlow), .5));
}

.iframe-container--size {
  height: 115%;
  width: 140%;
  position: absolute;
  margin: -8% -20% -20% -10%;
  filter: invert(1) sepia(10%) saturate(165%) hue-rotate(15deg) brightness(1.1);
}

/* Input Area for Symptoms/Diagnosis */

.input_container {
  z-index: 1;
  left: 0;
  top: 10%;
  position: absolute;
  height: 55rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border: .25rem solid var(--orangeYellow);
  box-shadow: 0 0 1rem rgba(var(--yellowGlow), .75);
  border-radius: 1.2rem;
  background: rgba(var(--inputBox), .4);
  transform: translateX(-120%);
}

.input_container__form {
  display: flex;
  flex-direction: column;
}

textarea::-webkit-scrollbar {
  background-color: var(--midBlue);
  width: .75rem;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--textBlue);
  box-shadow: 0 0 1rem rgba(var(--blueGlow), 1);
}

.input_container__form textarea {
  resize: none;
  background-color: transparent;
  padding: 1rem;
  color: var(--textBlue);
  font-size: 1.6rem;
  font-weight: 300;
  width: 100%;
  text-shadow: 0 0 1rem rgba(var(--blueGlow), .5);
  transition: .12s ease-out;
  overflow: hidden;
  height: 15rem;
  border: .1rem solid rgba(0, 0, 0, 0);
}

textarea::placeholder {
  font-size: 1.4rem;
  text-transform: capitalize;
  text-shadow: none;
  text-align: center;
  line-height: 12rem;
}

textarea:focus {
  outline: none;
  border-color: var(--textBlue);
  box-shadow: 0 0 1rem rgba(var(--blueGlow), .8);
  transition: .15s ease-out;
  overflow: visible;
  border: .1rem solid var(--textBlue);
}

hr {
  margin: 3rem auto;
  color: rgb(255, 255, 255, .35);
  border-style: none;
  border-top: solid;
  border-width: .1rem;
  width: 75%;
}

.form__label {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: .14rem;
  color: var(--primaryYellow);
  text-transform: uppercase;
  margin-bottom: 2rem;
  transition: .45s ease-out;
}

#labelGlow {
  text-shadow: 0 0 1.5rem rgba(var(--yellowGlow), .9);
  filter: saturate(1.1) brightness(1.05);
  transition: .15s ease-out;
}
