/*
----------------------------------------------------------------------------------

README: The Following CSS file Has Been Modified by KEVIN VIZCONDE:
              • Naming convention was changed to Adhere to BEM Standards
              • Table container was changed to div containers
              • Layout model converted to Flexbox
              • Design was changed
              • Modified user experience interactions

Original Skeleton: Ringo Suen
Revision 1 and 2: Ringo Suen

Final Revision and Design: Kevin Vizconde

----------------------------------------------------------------------------------
*/

html {
  min-height: 100vh;
}

body {
  height: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  padding: 2rem;
}

.patient-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: auto;
  padding: 3rem;
  border: .25rem solid var(--orangeYellow);
  box-shadow: 0 0 1rem rgba(var(--yellowGlow), .75);
  border-radius: 1.2rem;
  background: rgba(var(--inputBox), .4);
  font-size: 2rem;
}

.patient-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-card__form {
  font-weight: 300;
}

.patient-card--start {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--primaryYellow);
}

.patient-card__time {
  font-weight: 400;
  color: var(--textBlue);
}

.patient-card__name {
  margin: 1.5rem 0;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--primaryYellow);
  font-size: 2.5rem;
}

.patient-card__phone {
  font-size: 1.6rem;
}

.patient-card__bttn {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .1rem;
  width: 8rem;
  height: 4rem;
  text-align: center;
  color: var(--primaryWhite);
  background-color: var(--midBlue);
  border-radius: .6rem;
}
