.iframe-container__overflow {
  height: 90%;
  width: 75%;
  position: relative;
  overflow: hidden;
}

.iframe-container--size {
  height: 115%;
  width: 140%;
  position: absolute;
  margin: -8% -20% -20% -10%;
}
